page-artists {
    .imgCredits{
        max-width: 70px;
        max-height: 70px;

        border: #014a8e 2px solid;
        
        border-radius: 50%;
        margin: 0 auto;
        display: inline;
    }

 

}
