<!--
  Generated template for the NovidadesPage page.
<button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>novidades</ion-title>
  </ion-navbar>
    
</ion-header>

<ion-content>
 <!-- Slides coletados do bd na tabela slide -->
    <ion-slides pager="true" (ionSlideDidChange)="slideChanged()" >

        <ion-slide *ngFor="let slide of slidesnew" (click)="openDetails(slide)">
          <img [src]="slide.image" alt="">
          <div class="myOverlay">
            <h2 class="textSlide">{{slide.titulo}}</h2>
          </div>
        </ion-slide>
      </ion-slides>

     <!-- Lista de noticias coletados do bd na tabela noticia -->
      <ion-list>
        <ion-item *ngFor="let noticia of noticias" (click)="openDetails(noticia)">
          <img [src]="noticia.imagem">
          <h2>{{noticia.titulo}}</h2>
          <p>{{noticia.data}}</p>
          <p>{{noticia.resumo}}</p>
        </ion-item>
      </ion-list>

  </ion-content>

