
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Novidades</ion-title>
  </ion-navbar>
    
</ion-header>

<ion-content>
 <!-- Slides coletados do bd na tabela slide -->
    <ion-slides pager="true" (ionSlideDidChange)="slideChanged()" >

        <ion-slide *ngFor="let slide of slidesnew" (click)="openDetails(slide)">
          <img [src]="slide.imagem" alt="">
          <div class="myOverlay">
            <h2 class="textSlide">{{slide.titulo}}</h2>
          </div>
        </ion-slide>
      </ion-slides>

     <!-- Lista de noticias coletados do bd na tabela noticia -->
      <ion-list>
        <ion-item *ngFor="let noticia of noticias" (click)="openDetails(noticia)" class="cardNews">
        
                 <img class="imgCard" [src]="noticia.imagem">
      
                 <p class="dataCard">{{noticia.data}}</p>
                 <p class="titleCard">{{noticia.titulo}}</p>
        </ion-item>
      </ion-list>

  </ion-content>

