page-personagensview {
    
    .SwipedTabs-indicatorSegment
    {
        -webkit-transition: 0.3s all;
        -moz-transition:  0.3s all;
        -o-transition:  0.3s all;
        transition:  0.3s all;
        transform-origin: top 0 left 0;
        height: 1px;
	    position: relative;
	    top: -2px;
	    background-color: black !important;
    }
    .SwipedTabs-tabs ion-segment-button
    {
    	border:none !important;
    	color:gray!important;
    	background-color:white!important;
    }
     .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab
    {
        color:black !important;
    }
    .SwipedTabs-tabs
    {
    	border-bottom: solid 1px #e6e6e6  !important;
    }

   
    h1{
        padding-top: 10px;
    
    }

    .swiper-slide {
        overflow-y: scroll;
        display: block;
    }

    .backgroundFocus{
        /* Add the blur effect */
        // filter: blur(8px);
        // -webkit-filter: blur(8px);
      
         /* Center and scale the image nicely */
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         
         position: absolute, fixed;
         opacity: 1;
        
               }
  .item{
   
   
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
    
    p{
        padding: 0px 15px 0px 15px;
        text-align: left;
        white-space: pre-line;
        color: black;
        font-size: 17px;
    }

  }
}
