<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>personagensView</ion-title>
  </ion-navbar>
	<!-- Efeito do passador de slides de cada persongem -->
          <ion-segment  class="SwipedTabs-tabs" >
            <ion-segment-button *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
            [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' >
            <ion-icon [name]="tab"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        
          <!-- Aqui é a linha do indicador dos slides-->
          <div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%': (100/this.tabs.length)}"></div>
    

</ion-header>

<ion-content>

       <ion-slides #SwipedTabsSlider  (ionSlideDrag)="animateIndicator($event)"
							(ionSlideWillChange)="updateIndicatorPosition()"
							(ionSlideDidChange)="updateIndicatorPosition()"
							(pan)="updateIndicatorPosition()"
							[pager]="false"
							[effect]="cube"
							
				>
		<ion-slide *ngFor="let per of personagens">
			<h1>{{per.nome}}</h1>
		</ion-slide>  

	</ion-slides>
</ion-content>