page-season {
    .backgroundFocus{
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
   position: absolute;


         }

         .hqPanel{
            background-color: transparent;
        }

        .imgPanel{
            width: 250px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30%;
            margin-top: 30%;
        }
       
}
