<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!isSearchOpen">Temporada</ion-title>

    <ion-searchbar *ngIf="isSearchOpen" showCancelButton="true" (search)="OnSearch($event)"
      (ionCancel)="!isSearchOpen=false"></ion-searchbar>

    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchOpen" (click)="isSearchOpen=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <!-- recarregador da lista de hqs que o usuario tem -->

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- aqui começa a lista de hqs do usuario -->
  <div class="backgroundFocus">
    <img [src]="keyComic.imagem">
  </div>
  <ion-item class="hqPanel">

    <img class="imgPanel" [src]="keyComic.imagem">
    <h1>Titulo: {{keyComic.titulo}}</h1>
    <p>Edição: {{keyComic.edicao}}</p>
    <p>Data: {{keyComic.data | date: 'mediumDate'}}</p>
    <p class="textSeason">Descrição: {{keyComic.descricao}}</p>
  </ion-item>
  <hr />

  <button class="precoCard" *ngIf="hqsUser != 'True'" (click)="ClickAddBiblioteca(keyComic.titulo)">
    <ion-icon name="star"></ion-icon>
  </button>
  <button class="precoCard" *ngIf="hqsUser == 'True'" (click)="ClickAddBiblioteca(keyComic.titulo)">
    <ion-icon name="star-outline"></ion-icon>
  </button>

  <hr />

  <ion-item>
    <h2>Temporada Completa</h2>
  </ion-item>

  <hr />

  <h2 style="margin: auto"><b>Episódios</b></h2>

  <button *ngIf="hqsUser != 'True'" class="GreatNegative">Só Preview</button>
  
  <ion-item *ngFor="let hqs of searchHqs" class="hqCardBlue">
    <div *ngIf="hqs != undefined" (click)="OpenSeason(hqs)">
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <img [src]="hqs.imagem" class="imgCpmin">
          </ion-col>
          <ion-col size="8">
            <p class="titleCardSeason">{{hqs.descricao}}</p>
            <p class="textSeason">{{hqs.numero}}º Temporada</p>

          </ion-col>
          <ion-col size="8">
            <p class="dataCardSeason">{{hqs.data | date: 'mediumDate'}}</p>
          </ion-col>
        </ion-row>

      </ion-grid>

    </div>
  </ion-item>
  <ion-item *ngIf="hqsUser == 'False'">
    <button class="AssinarButton" (click)="OpenPagamento()">ASSINAR AGORA!</button>
  </ion-item>
</ion-content>