page-season {
    .backgroundFocus{
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
   position: absolute;


         }

         .hqPanel{
            background-color: transparent;
        }

        .imgPanel{
            width: 250px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30%;
            margin-top: 30%;
        }

        .SwipedTabs-indicatorSegment
    {
        -webkit-transition: 0.3s all;
        -moz-transition:  0.3s all;
        -o-transition:  0.3s all;
        transition:  0.3s all;
        transform-origin: top 0 left 0;
        height: 1px;
	    position: relative;
	    top: -2px;
	    background-color: black !important;
    }
    .SwipedTabs-tabs ion-segment-button
    {
    	border:none !important;
    	color:gray!important;
    	background-color:white!important;
    }
     .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab
    {
        color:black !important;
    }
    .SwipedTabs-tabs
    {
    	border-bottom: solid 1px #e6e6e6  !important;
    }

    .swiper-slide {
        overflow-y: scroll;
        display: block;
    }

    .SeasonGreat{
        
            width: 80%;
            height: 30px;
            background-color: #014a8e;
            color:#fcfcfc;
            font-size: 15px;
            border-radius: 10px;
            display: block;
            margin-right: auto;
        
    }

    .imgCredits{
        width: 70px;
        height: 70px;

        border: #014a8e 2px solid;
        
        border-radius: 50%;
        margin: 0 40%;
        display: inline;
             
    }


 

    
}
