.light-theme{
    //CONTENT
    ion-content{
        background-color: #ffffff;
        color: #000000;
    }


    //TITLE HEAD
    .header .toolbar-title{
        color: #ffffff;
        display: block;
        vertical-align: 50%;
        font-size: 20px;

    }

    //NAVBAR
    .toolbar-background{
        background-color: #014a8e;
    }

    //INPUT

    .text-input{
        background-color: #ffffff;
        color: #000000;
        box-shadow: -6px 3px  #838383;
        border: solid;
        border-color:#838383;
        border-radius: 8px;
        height: 35px;
    }
    ion-label{
        padding-left:5px;
        font-size: 15px;
        color: #000000;
    }

  
    //BIG TEXT
    .Great{
        width: 100%;
        height: 40px;
        background-color: #014a8e;
        color:#ffffff;
        font-size: 22px;
        margin-top: 100px;
        border-radius: 10px;
        display: block;
    }

    .GreatNegative{
        width: 100%;
        height: 40px;
        background-color: hsl(0, 76%, 50%);
        color:#ffffff;
        font-size: 22px;
        border-radius: 10px;
        display: block;
    }

    //TEXT
    .Normal{
        
        background-color: #ffffff;
        color:#014a8e;
        font-size: 17px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        display: block;
    }

    //LOGIN PAGE
    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 100px;
        width:60%;
    }

    //CADASTRO PAGE
    .titleGreat{
        font-size: 28px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: #014a8e;
        text-align: center;
        font-weight: bold;
        font-weight: bolder;

        padding-bottom: 40px;
        text-shadow: -1px 2px 0 #027def;
    }

    .titleNormal{
        font-size: 28px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        color: #014a8e;
        text-align: center;
        font-weight: bold;
        font-weight: bolder;
    }
    


    //HQ PAGE
    .imgCp{
        width: 80px;
    }


    .ion-item{
        background-color: transparent;
        //border: 0px;
    }

    //CARD NOTICIA
    .imgCard{
        max-width: 75px;
        float: left;
        margin-right: 10px;
        border: 1px solid #ffffff;
        border-radius: 2px;
        padding: 2px;
      }

      .bigimg{
        border: 1px solid #fcfcfc;
        border-radius: 4px;
        padding: 5px;
      }
    .cardNews{
        background-color: #fcfcfc;
        margin-bottom: 5px;
        margin-top: 5px;
        //border-color: transparent;
    }

    .dataCard{
        font-size: 13px;
        color: #0a2e4f;
        text-align: right;
       
    }

    .textCard{
        font-size: 15px;
        color: #014c8d;
        text-align: left, top;
        white-space: pre-line;
    }

    .textSpace{
        font-size: 17px;
        color: #014c8d;
    }

    .titleCard{
        white-space: pre-line;
        text-align: left, top;
        color: #014c8d;
        font-size: 18px;
        font-weight: bold;
    }

    .precoCard{
        align-items: right, top;
        text-align: center;
        color: #fcfcfc;
        font-size: 16px;
        font-weight: bold;
        background-color: #014a8e;
        float: right;
        height: 25px;
    }

    .hqCard{
        background-color: #fcfcfc;
        border-radius: 15px;
       
    }
  
  
    ion-title{
        text-align: left;
    }

      .imgCpmin{
        width: 75px;
      }

      .hqCardBlue{
        border-color: #fcfcfc;
        background-color: #fcfcfc;
        border-radius: 15px;
    }

    .titleCardSeason{
        white-space: pre-line;
        text-align: left, top;
        color: #014c8d;
        font-size: 16px;
        font-weight: bold;
    }

    .textSeason{
        color: #014a8e;
        white-space: pre-line;
    }

    .dataCardSeason{
        font-size: 13px;
        color: #0a2e4f;
        text-align: right;
    }

    .AssinarButton{
        width: 100%;
        height: 40px;
        background-color: #092b75;
        color:#ffffff;
        font-size: 22px;
        border-radius: 10px;
        display: block;

        text-shadow: -1px 2px 0 #027def;
        font-weight: bold;
        font-weight: bolder;
    }
     

}   