.light-theme{
    ion-content{
        background-color: #ffffff;
        color: #000000;
    }

    .header .toolbar-title{
        color: #ffffff;
    }

    .toolbar-background{
        background-color: #014a8e;
    }
}