
$SIDEMENU_TOP: #014a8e;
$SIDEMENU_BOTTOM: #014a8e;

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width:60%;
}

.buttonMenu{
  background: transparent;
  border: none;
  font-size: 20px;
  color: #fff;
}

.menu {
    background: -webkit-linear-gradient(left top, $SIDEMENU_TOP,$SIDEMENU_BOTTOM);
    background: -o-linear-gradient(bottom right,  $SIDEMENU_TOP,$SIDEMENU_BOTTOM);
    background: -moz-linear-gradient(bottom right, $SIDEMENU_TOP,$SIDEMENU_BOTTOM);
    background: linear-gradient(to bottom right, $SIDEMENU_TOP,$SIDEMENU_BOTTOM);
}

//List
.list-ios > .item-block:first-child {
    border-top: 0px;
  }
  
  .list-ios > .item-block:last-child,
  .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0px;
  }
  
  .list-ios > .item-block:last-child .item-inner,
  .list-ios > .item-wrapper:last-child .item-block .item-inner {
    border-bottom: 0;
  }
  
  .list-ios .item-block .item-inner {
    border-bottom: 0px;
  }
  
  .list-ios .item[no-lines],
  .list-ios .item[no-lines] .item-inner {
    border-width: 0;
  }
  
  .list-ios ion-item-options {
    border-bottom: 0px;
  }