page-intro {
    .slideImg img{
          width: 250px;
          padding-bottom: 50px;
    }
    
    .slideImg h2{
        padding: 0px 20px 0px 20px;
    }

    .slideImg p {
        font-size:20px;
        text-align:center;
        color: #014a8e;
        padding: 0px 50px 0px 50px;
      
      }

}
