page-pagamento {

    img{
        max-width: 100px;
         border: 5px solid #014a8e;
         margin: auto;
         margin-left: auto;
         margin-right: auto;
         display: block;
         margin-bottom: auto;
         margin-top: auto;
    }
    .col{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50%;
    }

    button{
        background: transparent;
    }
   

  
}
