page-administrador {
    img {
        max-width: 75px;
        border: 0;
      }
    .imgBig{
      max-width: 200px;
      border: 0;
      padding-left: 20%;
      padding-right: 20%;
    }
      
}
